In [1]:
import tushare as ts

### 600036 招商银行

#### Sell on 2009-06-17 on 21.5

In [21]:
ts.get_h_data('600036',start='2009-06-17',end='2009-06-17')

[Getting data:]

C:\Users\hhm\Anaconda3\envs\Investment\lib\site-packages\tushare\stock\trading.py:441: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  df = df.sort('date', ascending=False)

             open   high  close    low    volume      amount
date
2009-06-17  13.94  14.43  14.26  13.71  70165200  1482545536

#### Sell on 2009-10-27  on 17.74

In [22]:
ts.get_h_data('600036', start='2009-10-27', end='2009-10-27',autype=None)

[Getting data:]

            open   high  close    low    volume      amount
date
2009-10-27  17.8  18.08   17.7  17.58  96532200  1720813184

In [ ]:
ts.get_h_data('600030', start='2009-11-09', end='2009-11-09',autype=None)

In [20]:
ts.get_h_data('600030', start='2009-11-09', end='2009-11-09',autype=None)

[Getting data:]

             open   high  close    low    volume      amount
date
2009-11-09  28.71  28.79  28.73  28.31  77477624  2214021376